    <style>
        {
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box;
        }

        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            background-image: url('Image/back.png');
            background-size: calc(1728 / 1728 * 100vw) calc(951 / 1728 * 100vw);
            overflow: hidden;
        }

      .brand-container {
          position: absolute;
          width: 100vw;
          height: 55vw;
          margin: 0 auto;
            
          background-image: url('brand_detail/brand_folder.png'); 
          background-size: calc(1457 / 1728 * 100vw) auto;
          background-position: calc(26 / 1728 * 100vw) calc(11 / 1728 * 100vw);
          background-repeat: no-repeat;
      }

     .file-clip {
            position: absolute;
            right: calc(429 / 1728 * 100vw);
            top: calc(2 / 1728 * 100vw);
            width: calc(48 / 1728 * 100vw);
            z-index: 10;
            pointer-events: none;
     }

     .HOYA 1-img {
            position: absolute;
            right: calc(345 / 1728 * 100vw);
            top: calc(32 / 1728 * 100vw);
            width: calc(624 / 1728 * 100vw); /* 피그마 W 값 */
            z-index: 8;
            display: block;
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4)); /* 그림자 */
     }

     .HOYA 2-img {
            position: absolute;
            right: calc(142 / 1728 * 100vw);
            top: calc(43 / 1728 * 100vw);
            width: calc(624 / 1728 * 100vw); /* 피그마 W 값 */
            z-index: 6;
            display: block;
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4)); /* 그림자 */
     }


     .HOYA-img {
            position: absolute;
            right: calc(142 / 1728 * 100vw);
            top: calc(43 / 1728 * 100vw);
            width: calc(624 / 1728 * 100vw); /* 피그마 W 값 */
            z-index: 6;
            display: block;
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4)); /* 그림자 */
     }
         

    </style>
