    <style>
        {
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box;
        }

        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            background-image: url('Image/back.png');
            background-size: calc(1728 / 1728 * 100vw) calc(951 / 1728 * 100vw);
            overflow: hidden;
        }

      .folder-tab-text {
          position: absolute;
            
          left: calc(42 / 1728 * 100vw);
          bottom: calc(80 / 1728 * 100vw);
            
          transform-origin: left top;
          transform: rotate(-90deg) translate(-10%, 0); 
          
          font-family: "active", sans-serif;
          font-weight: 400;
          font-style: normal;
          
          font-size: calc(45 / 1728 * 100vw);
          color: #2D2525;
          letter-spacing: 0.10em;
          white-space: nowrap;
            
          z-index: 2;
      }

      .brand-container {
          position: absolute;
          width: 100vw;
          height: 55vw;
          margin: 0 auto;
            
          background-image: url('brand_detail/brand_folder.png'); 
          background-size: calc(1457 / 1728 * 100vw) auto;
          background-position: calc(26 / 1728 * 100vw) calc(11 / 1728 * 100vw);
          background-repeat: no-repeat;
      }

     .file-clip {
            position: absolute;
            right: calc(429 / 1728 * 100vw);
            top: calc(2 / 1728 * 100vw);
            width: calc(48 / 1728 * 100vw);
            z-index: 10;
            pointer-events: none;
     }

     .HOYA1-img {
            position: absolute;
            right: calc(345 / 1728 * 100vw);
            top: calc(32 / 1728 * 100vw);
            width: calc(624 / 1728 * 100vw);
            z-index: 8;
            display: block;
            transform: rotate(-1deg);
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4));
     }

     .HOYA2-img {
            position: absolute;
            right: calc(142 / 1728 * 100vw);
            top: calc(43 / 1728 * 100vw);
            width: calc(624 / 1728 * 100vw);
            z-index: 6;
            display: block;
            transform: rotate(3deg);
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4));
     }

     .tape {
            position: absolute;
            right: calc(-278 / 1728 * 100vw);
            bottom: calc(-372 / 1728 * 100vw);
            width: calc(1170 / 1728 * 100vw);
            z-index: 4;
            display: block;
            filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.7));
     }

     .HOYA-img {
            position: absolute;
            left: calc(122 / 1728 * 100vw);
            top: calc(27 / 1728 * 100vw);
            width: calc(326 / 1728 * 100vw); /* 피그마 W 값 */
            z-index: 10;
            display: block;
            transform: rotate(4deg);
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4));
     }
         
     .label1 {
            position: absolute;
            left: calc(472 / 1728 * 100vw);
            top: calc(-60 / 1728 * 100vw);
            width: calc(142 / 1728 * 100vw);
            z-index: 10;
            display: block;
            transform: rotate(2.5deg);
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4));
     }

     .label2 {
            position: absolute;
            left: calc(586 / 1728 * 100vw);
            top: calc(-32 / 1728 * 100vw);
            width: calc(142 / 1728 * 100vw);
            z-index: 8;
            display: block;
            transform: rotate(-3.5deg);
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4));
     }

     .cloth {
            position: absolute;
            left: calc(98 / 1728 * 100vw);
            top: calc(348 / 1728 * 100vw);
            width: calc(401 / 1728 * 100vw);
            z-index: 6;
            display: block;
            transform: rotate(-4deg);
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4));
     }

     .package {
            position: absolute;
            left: calc(394 / 1728 * 100vw);
            bottom: calc(78 / 1728 * 100vw);
            width: calc(326 / 1728 * 100vw);
            z-index: 4;
            display: block;
            transform: rotate(5deg);
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4));
     }

     .bc1 {
            position: absolute;
            left: calc(157 / 1728 * 100vw);
            bottom: calc(34 / 1728 * 100vw);
            width: calc(180 / 1728 * 100vw);
            z-index: 10;
            display: block;
            transform: rotate(-15deg);
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4));
     }

     .bc2 {
            position: absolute;
            left: calc(303 / 1728 * 100vw);
            bottom: calc(34 / 1728 * 100vw);
            width: calc(180 / 1728 * 100vw);
            z-index: 8;
            display: block;
            transform: rotate(-1.5deg);
            filter: drop-shadow(0px 0px 6px rgba(0,0,0,0.4));
     }

    </style>
