    <style>
        {
            margin: 0;
            padding: 0;
            border: 0;
            box-sizing: border-box;
        }
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        
        .portfolio-container {
            width: 100vw;
            height: 62.5vw;
            margin: 0 auto;
            
            background-image: url('Image/background.png'); 
            background-size: calc(1457 / 1728 * 100vw) calc(929 / 1728 * 100vw);
            background-position: calc(46 / 1728 * 100vw) calc(11 / 1728 * 100vw);
            background-repeat: no-repeat;
            position: relative;
            background-color: #f0f0f0;
        }
        #cv-trigger {
        position: relative;
        }

        .cv-clip {
            position: absolute;
            left: calc(530 / 1728 * 100vw);
            top: calc(-1 / 1728 * 100vw);
            width: calc(64 / 1728 * 100vw);
            z-index: 10;
            pointer-events: none;
        }
        .CV-img {
            position: absolute;
            left: calc(112 / 1728 * 100vw);
            top: calc(15 / 1728 * 100vw);
            width: calc(670 / 1728 * 100vw); /* 피그마 W 값 */
            z-index: 5;
            display: block;
            filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3)); /* 그림자 */

            transition: transform 0.5s ease-in-out;
            cursor: pointer;
            transform-origin: center top;
        }
        .CV-img:hover {
            transform: rotate(-3deg) translateY(3px);
        }

        .id_card-img {
            position: absolute;
            left: calc(-223 / 1728 * 100vw);
            top: calc(-970 / 1728 * 100vw);
            width: calc(848 / 1728 * 100vw); /* 피그마 W 값 */
            z-index: 10;  /* CV보다 위로 */
            filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));

            transition: transform 0.5s ease-in-out; 
            transform-origin: center top;
        }
        .id_card-img:hover {
        /* 오른쪽으로 2도 정도 살짝 기울어지면서 아래로 10px 정도 밀리는 느낌 */
            transform: rotate(0.5deg) translateY(8px);
        }

        .project-item {
            position: absolute;
        }

        .project-item img {
            position: absolute;
            display: block;
        }

        /* --- Brand 영역 --- */
        .brand {
            left: calc(805 / 1728 * 100vw);
            top: calc(26 / 1728 * 100vw);

            perspective: 1000px;
        }
            .brand .brand_main {
                width: calc(615 / 1728 * 100vw);
                z-index: 2;
                filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
            }
            .brand .brand_postit {
                width: calc(219 / 1728 * 100vw);
                left: calc(-52 / 1728 * 100vw);
                top: calc(3 / 1728 * 100vw);
                z-index: 3;
                filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
                
                transition: transform 0.6s ease-in-out, filter 0.6s; 
                cursor: pointer;
                transform-origin: center top; 
            }
            
            .brand:hover .brand_postit {

                transform: rotateX(12deg) rotateZ(-2deg);
                filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));
            }

         /* --- Visual 영역 --- */
        .visual {
            left: calc(781 / 1728 * 100vw);
            top: calc(386 / 1728 * 100vw);
        }
            .visual .visual_main {
                width: calc(315 / 1728 * 100vw);
                z-index: 2;
                filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
            }
            .visual .visual_postit {
                width: calc(219 / 1728 * 100vw);
                left: calc(250 / 1728 * 100vw);
                top: calc(-5 / 1728 * 100vw);
                z-index: 3;
                filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
            }
        /* --- Interact 영역 --- */
        .interact {
            left: calc(1114 / 1728 * 100vw);
            top: calc(546 / 1728 * 100vw);
        }
            .interact .interact_main {
                width: calc(329 / 1728 * 100vw);
                z-index: 2;
                filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
            }
            .interact .interact_postit {
                width: calc(219 / 1728 * 100vw);
                left: calc(-191 / 1728 * 100vw);
                top: calc(175 / 1728 * 100vw);
                z-index: 3;
                filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
            }
        .modal { display: none; }
    </style>
